.container-patrick {
  background: var(--bgpatrick);
  border-radius: 10px;
  grid-area: Patrick;
  padding: 1rem 1.5rem;
}

.container-patrick p {
  font-size: .75rem;
  color: var(--neutralgray);
}

.container-patrick h1 {
  font-size: 1.3rem;
  color: var(--neutralgray);
  margin-bottom: .8rem;
}

.container-patrick h2 {
  font-size: 0.8rem;
  color: var(--neutralgray);
  opacity: 0.7;
  font-weight: 500;
  line-height: 1rem;
}