.container-jeanette {
  background: var(--bgwhite);
  border-radius: 10px;
  grid-area: Jeanette;
  padding: 1rem 1.7rem;
}

.container-jeanette p {
  font-size: .75rem;
  color: var(--bgjonathan);
}

.container-jeanette h1 {
  font-size: 1.3rem;
  color: var(--bgjonathan);
  font-weight: 600;
  margin-bottom: .8rem;
}

.container-jeanette h2 {
  font-size: 0.8rem;
  color: var(--bgjonathan);
  line-height: 1rem;
  opacity: 0.7;
  font-weight: 500;
} 