.container-daniel {
  background: var(--bgdaniel);
  border-radius: 10px;
  grid-area: Daniel;
  padding: 1rem 1.7rem;
  background-image: url(/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top 0 right 75px;
}

.container-daniel p {
  font-size: .75rem;
  color: var(--neutralgrayish);
}

.container-daniel h1 {
  font-size: 1.3rem;
  margin-bottom: .8rem;
  color: var(--bgwhite);
}

.container-daniel h2 {
  font-size: 0.8rem;
  color: var(--neutralgray);
  line-height: .9rem;
  opacity: 0.7;
  font-weight: 500;
}