.container-kira {
  background: var(--bgwhite);
  border-radius: 10px;
  grid-column: 4 / 5;
  grid-row: 1 / 5;
  margin-left: 20px;
  margin-right: 40px;
  padding: 1rem;
}

.container-kira p {
  font-size: .75rem;
  color: var(--neutralgray);
}

.container-kira h1 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.container-kira h2 {
  font-size: 0.7rem;
  color: var(--neutralgray);
  padding: 0 1.5rem 0 0;
}