.container-kira {
  background: var(--bgwhite);
  border-radius: 10px;
  grid-area: Kira;
  padding: 1rem 2rem;
}

.container-kira p {
  font-size: .75rem;
  color: var(--bgjonathan);
}

.container-kira h1 {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.container-kira h2 {
  font-size: 0.8rem;
  color: var(--bgjonathan);
  opacity: 0.7;
  font-weight: 500;
  line-height: .85rem;
}