.container-jonathan {
  background: var(--bgjonathan);
  border-radius: 10px;
  grid-area: Jonathan;
  padding: 1rem 1.7rem;
}

.container-jonathan p {
  font-size: .75rem;
  color: var(--neutralgrayish);
}

.container-jonathan h1 {
  font-size: 1.3rem;
  margin-bottom: .8rem;
}

.container-jonathan h2 {
  font-size: 0.8rem;
  color: var(--neutralgray);
  opacity: 0.7;
  line-height: .9rem;
  font-weight: 500;
}